<mat-card class="search">
  <mat-card-title>Enter your inputs</mat-card-title>
  <mat-card-subtitle>And let the magic happen</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="searchForm">
      <mat-form-field appareance="outline">
        <mat-label>Width</mat-label>
        <input matInput
          [formControl]="width"
          placeholder="Width">
        <mat-hint>Even and greater than 20</mat-hint>
        <mat-error *ngIf="width.invalid">{{ getErrorMessage('width') }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
          type="number"
          [formControl]="heigth"
          placeholder="Heigth">
        <mat-hint>Even and greater than 20</mat-hint>
        <mat-error *ngIf="heigth.invalid">{{ getErrorMessage('heigth') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
          matInput
          [formControl]="padding"
          placeholder="Padding">
        <mat-hint>Even and greater than 4</mat-hint>
        <mat-error *ngIf="padding.invalid">{{ getErrorMessage('padding') }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button class="submit-btn"
      mat-raised-button
      type="submit"
      color="primary"
      (click)="doSearch()">
      <span *ngIf="(searching$ | async) === false; else spinnner">Draw</span>
      <ng-template #spinnner>
        <mat-spinner
          class="spinner"
          color="accent"
          diameter="40">
        </mat-spinner>
      </ng-template>
    </button>
  </mat-card-actions>
</mat-card>
